.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  flex: 1;
}
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .main {
    margin: 2rem auto;
    width: 95%;
  }
}