
.primary a{
  color: white;
}
.primary a:hover,
.primary a:active,
.primary a.active {
  color: #25201FE7;
}
.primary select {
  color: white;
}
.primary select:hover {
  color: #25201FE7;
}

.secondary a{
  color: #25201FE7;
}
.secondary a:hover,
.secondary a:active,
.secondary a.active {
  color: white;
}
.secondary select {
  color: #25201FE7;
}
.secondary select:hover {
  color: white;
}


.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 10px 5%;
  animation: fadeInAnimation 2.2s ease-in-out forwards;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  gap: 5.4vw;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
}

.header a:hover,
.header a:active,
.header a.active {
  transition: all ease-in 0.2s;
}

.header select {
  padding: 5px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.header select:hover{
  transition: all ease-in 0.2s;
}
.header select option {
  color: #555;
}


@media screen and (max-width: 1024px) {
  .header {
    padding: 5px 5%;
  }
  .header a {
    font-size: 1.2rem;
  }
  .header select {
    font-size: 1.2rem;
  }
  
}

@media screen and (max-width: 768px) {
  .header {
    height: 4rem;
    padding: 0 4%;
  }
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}