.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 10px 5%;
  animation: fadeInAnimation 1.8s ease-in-out forwards;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5.5vw;
  align-items: baseline;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  color: black;
  transition: all ease-in 0.2s;
}

.select {
  padding: 5px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select:hover{
  color: black;
  transition: all ease-in 0.2s;
}
.select option {
  color: #555;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 4rem;
    padding: 0 4%;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 3rem;
    padding: 0 4%;
  }
}



@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    /* transform: translateY(-20px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}