.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.select {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 0 5%;
  }

  .logo {
    font-size: 3.5vw;
  }

  .header li {
    margin-left: 1rem;
  }

  .header a {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 4rem;
    padding: 0 4%;
  }

  .logo {
    font-size: 1.2rem;
  }

  .header li {
    margin-left: 2rem;
  }

  .header a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 3rem;
    padding: 0 4%;
  }

  .logo {
    font-size: 3.5vw;
  }

  .header li {
    margin-left: 1rem;
  }

  .header a {
    font-size: 2.5vw;
  }
}